<h3>Editing uneb</h3>

<%= form_for(:uneb, :url=>{:action=>'update', :id=>@uneb.id}, :html=>{:multipart=>true}) do |f| %>
<%= render(:partial=>'form', :locals=>{:f=>f}) %>

<% end %>

<%= link_to 'Show', @uneb , :class=>"btn-link"%> |
<%= link_to 'Back', unebs_path, :class=>"btn-link" %>
